# Flask é um micro-framework para criar aplicações web e APIs RESTful.
import flask

# flask_sqlalchemy adiciona suporte a banco de dados relacional usando SQLAlchemy, facilitando a interação com bancos SQL.
import flask_sqlalchemy

# flask_cors permite o compartilhamento de recursos entre origens diferentes, útil para evitar bloqueios de CORS.
import flask_cors
